@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
  font-family: "Segoe Print";
  src: url("/css/fonts/segoepr.ttf") format('ttf');
}
$font-family-base: Open Sans;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 1200px,
        xl: 1500px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px
) !default;

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
  -webkit-font-smoothing: antialiased;
}

header {
  height: 100vh;
  width: 100%;
}

@import "fab";
@import "../node_modules/bootstrap/scss/bootstrap";